



body{
    background-image: url("./isa.png");
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    
   
    background-size: cover; 

}
h1{
    animation: titleReveal .9s both;
    transform: translateY(100%);
}
@keyframes titleReveal{
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
     opacity: 1;
        transform: translateY(0);
    }
    
}

.homeP{
    background-color: rgba(0, 0,0, 0.5);
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    padding: 10%;
}

.titreA{
    padding: 5%;
    
}
.nom{
    padding: 5% 25% 1% 25%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
     
    
}

.reponse{
    padding: 2% 25% 5% 25%;
}
.entete{
    border: 10%;
    padding: 5%;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.8);
}
.skip{
    background-color: rgba(255, 255,255, 0.5);
    text-align: center;
    margin-top: 5%;
    padding: 1%;
   
}
.final{
    background-color: rgba(255, 255,255, 0.5);
    text-align: center;
    margin-top: 5%;
}